/* app css stylesheet */

body {
    padding-top: 80px;
    padding-bottom: 180px;
}
.panel-primary{border: 1px solid #c0c0c0; margin-bottom: 1rem; border-radius: 3px;}
.panel-primary .panel-heading a{color: #FFF; font-size: 2rem;}

