<div class="panel-primary">
    <div class="panel-heading"><a href="#/forecast/{{city.name}}">{{city.name}}</a></div>
    <div class="panel-body">
        <div>
            <p class="lead">
                Speed: {{ (city.wind.speed * 3.6).toFixed(2) }} km/h ({{city.wind.speed}} m/s)
            </p>
            <p>
                {{city.main.temp | number:1}}&#176;C &nbsp;&#126;&nbsp;
                High: {{city.main.temp_max}}&#176;C&nbsp;&#126;&nbsp;
                Low: {{city.main.temp_min}}&#176;C
            </p>
        </div>
    </div>
    <div class="panel-footer">
        <small>
            Pressure: {{city.main.pressure}} hPa&nbsp;&#126;&nbsp;
            Humidity: {{city.main.humidity}}%
        </small>
    </div>
</div>
