<div class="container">
    <div class="weather-data" ng-show="true">        
        <div class="row">
            <div class="col-xs-4" ng-repeat="cityData in forecastbylocation" cityname="cityData">            
            </div>                    
        </div>
    </div>
</div>
