<div class="container">
    <div class="weather-data" ng-show="true">        
        <div class="row">
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[0]"></div>
            </div>        
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[1]"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[2]"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[3]"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[4]"></div>
            </div>
        </div>
    </div>
</div>
